In [ ]:
"""
create table using social media addiction table:
axis = decile of avg_daily_usage_hours
columns = bucket of addicted_score (manually created)
values = the mean of sleep_hours_per_night
"""

In [2]:
import pandas as pd
import numpy as np
print('complete')

complete

In [3]:
path = "/Users/emiller/Documents/sf_tech/sf_datasets/"

sma = pd.read_csv(path + "students_social_media_addiction.csv")
sma.columns = sma.columns.str.lower()
sma.head()

,student_id,age,gender,academic_level,country,avg_daily_usage_hours,most_used_platform,affects_academic_performance,sleep_hours_per_night,mental_health_score,relationship_status,conflicts_over_social_media,addicted_score
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8
1,2,22,Male,Graduate,India,2.1,Twitter,No,7.5,8,Single,0,3
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9
3,4,18,Male,High School,UK,3.0,YouTube,No,7.0,7,Single,1,4
4,5,21,Male,Graduate,Canada,4.5,Facebook,Yes,6.0,6,In Relationship,2,7

In [4]:
data_decile = pd.qcut(sma["avg_daily_usage_hours"], q=10, labels=False, duplicates="drop")

data_decile.name = "usage_decile"
data_decile

0      6
1      0
2      7
3      0
4      3
      ..
700    4
701    9
702    6
703    2
704    8
Name: usage_decile, Length: 705, dtype: int64

In [6]:
sma_usage = sma.join(data_decile)
sma_usage

,student_id,age,gender,academic_level,country,avg_daily_usage_hours,most_used_platform,affects_academic_performance,sleep_hours_per_night,mental_health_score,relationship_status,conflicts_over_social_media,addicted_score,usage_decile
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8,6
1,2,22,Male,Graduate,India,2.1,Twitter,No,7.5,8,Single,0,3,0
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9,7
3,4,18,Male,High School,UK,3.0,YouTube,No,7.0,7,Single,1,4,0
4,5,21,Male,Graduate,Canada,4.5,Facebook,Yes,6.0,6,In Relationship,2,7,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
700,701,20,Female,Undergraduate,Italy,4.7,TikTok,No,7.2,7,In Relationship,2,5,4
701,702,23,Male,Graduate,Russia,6.8,Instagram,Yes,5.9,4,Single,5,9,9
702,703,21,Female,Undergraduate,China,5.6,WeChat,Yes,6.7,6,In Relationship,3,7,6
703,704,24,Male,Graduate,Japan,4.3,Twitter,No,7.5,8,Single,2,4,2
704,705,19,Female,Undergraduate,Poland,6.2,Facebook,Yes,6.3,5,Single,4,8,8

In [7]:
# want to have lowest addicted scores in the top left of the pivot

conditions = [
    (sma_usage["addicted_score"] >= 8)
    , (sma_usage["addicted_score"] < 8) & (sma_usage["addicted_score"] >= 5) 
    , (sma_usage["addicted_score"] < 5)
]
values = ["as_bucket3", "as_bucket2", "as_bucket1"]

# conditions
sma_usage["addicted_score_bucket"] = np.select(conditions, values, default ="Other")
sma_usage

,student_id,age,gender,academic_level,country,avg_daily_usage_hours,most_used_platform,affects_academic_performance,sleep_hours_per_night,mental_health_score,relationship_status,conflicts_over_social_media,addicted_score,usage_decile,addicted_score_bucket
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8,6,as_bucket3
1,2,22,Male,Graduate,India,2.1,Twitter,No,7.5,8,Single,0,3,0,as_bucket1
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9,7,as_bucket3
3,4,18,Male,High School,UK,3.0,YouTube,No,7.0,7,Single,1,4,0,as_bucket1
4,5,21,Male,Graduate,Canada,4.5,Facebook,Yes,6.0,6,In Relationship,2,7,3,as_bucket2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
700,701,20,Female,Undergraduate,Italy,4.7,TikTok,No,7.2,7,In Relationship,2,5,4,as_bucket2
701,702,23,Male,Graduate,Russia,6.8,Instagram,Yes,5.9,4,Single,5,9,9,as_bucket3
702,703,21,Female,Undergraduate,China,5.6,WeChat,Yes,6.7,6,In Relationship,3,7,6,as_bucket2
703,704,24,Male,Graduate,Japan,4.3,Twitter,No,7.5,8,Single,2,4,2,as_bucket1
704,705,19,Female,Undergraduate,Poland,6.2,Facebook,Yes,6.3,5,Single,4,8,8,as_bucket3

In [8]:
sma_usage.pivot_table(
    index='usage_decile',
    columns='addicted_score_bucket',
    values='sleep_hours_per_night',
    aggfunc='mean',
    fill_value=0,

)

addicted_score_bucket  as_bucket1  as_bucket2  as_bucket3
usage_decile
0                        8.236207    7.893750    0.000000
1                        8.107143    7.894231    0.000000
2                        7.663636    7.767188    7.400000
3                        7.466667    7.366667    6.133333
4                        0.000000    6.909756    5.700000
5                        0.000000    6.713158    6.111111
6                        0.000000    6.598000    5.822581
7                        0.000000    6.457500    5.670000
8                        0.000000    5.828571    5.965455
9                        0.000000    5.150000    5.346774